.title-glow {
   font-size: 4em;
   font-weight: 300;
   color: var(--gradient-bg-color);
}

.title-glow span {
   animation: brillo 1.8s linear infinite;
}

.title-glow span:nth-child(1) {
   animation-delay: 0s;
}

.title-glow span:nth-child(2) {
   animation-delay: 0.2s;
}

.title-glow span:nth-child(3) {
   animation-delay: 0.4s;
}

.title-glow span:nth-child(4) {
   animation-delay: 0.6s;
}

.title-glow span:nth-child(5) {
   animation-delay: 0.8s;
}
.title-glow span:nth-child(6) {
   animation-delay: 1s;
}
.title-glow span:nth-child(7) {
   animation-delay: 1.2s;
}
.title-glow span:nth-child(8) {
   animation-delay: 1.4s;
}
.title-glow span:nth-child(9) {
   animation-delay: 1.6s;
}

@keyframes brillo {
   0%, 85%{
      color: var(--gradient-bg-color);
      text-shadow: none;
   }
   100%{
      color: var(--light-purple);
      text-shadow: 0 0 10px var(--light-purple),
                  0 0 20px var(--light-purple),
                  0 0 40px var(--light-purple),
                  0 0 60px var(--light-purple),
                  0 0 80px var(--light-purple),
                  0 0 120px var(--light-purple),
                  0 0 160px var(--light-purple);
   }
}