.sec-reto {
   max-width: 80%;
   position: relative;
   justify-content: center;
}

.sec-info {
   position: relative;
   display: flex;
   height: 80%;
   justify-content: space-between;
   align-items: flex-start;
}

.sec-info .sec-text {
   position: relative;
   max-width: 60%;
}

.sec-info .sec-text h2{
   font-size: 2.5em;
   line-height: 1.8em;
   text-transform: uppercase;
}

.sec-info .sec-text a {
   font-size: 0.6em;
   display: inline-block;
   margin-top: 20px;
   padding: 8px 20px;
   background: whitesmoke;
   color: var(--light-purple);
   border-radius: 40px;
   letter-spacing: 1px;
   text-decoration: none;
   text-transform: uppercase;
}

.sec-info .sec-img {
   width: 600px;
   display: flex;
   padding-right: 50px;
   justify-content: flex-end;
}


.sec-info .sec-img img {
   max-width: 240px;
}

.sec-opc {
   position: absolute;
   display: flex;
   left: 50%;
   transform: translateX(-50%);
}

.sec-opc li {
   list-style: none;
   display: inline-block;
   margin: 0 20px;
   cursor: pointer;
   transition: 0.5s;
}

.sec-opc li:hover {
   transform: translateY(-15px);
}

.sec-opc li img{
   max-width: 40px;
}


@media (min-width: 900px) {
   .sec-reto {
      min-width: 90%;
   }

   .sec-info {
      display: grid;
      width: 100%;
      justify-items: center;
      text-align: center;
   }

   .sec-info .sec-text {
      max-width: 80%;
   }

   .sec-info .sec-text h2{
      font-size: 5em;
   }
   .sec-info .sec-text p{
      font-size: 2.25em;
      font-weight: 100;
   }

   .sec-info .sec-text a{
      font-size: 2em;
      padding: 12px 20px;
   }

   .sec-info .sec-img {
      padding: 35px;
      width: auto;
   }

   .sec-info .sec-img img{
      max-width: 480px;
   }

   .sec-opc li img{
      max-width: 80px;
   }
}